// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.kanta2{
    margin: 0 auto; 
    width: 90%;
}

.field{
    margin: 0 auto; 
    width: 90%;
}

h2{
    margin: 0 auto; 
    width: 90%;
    padding : 30px ;
}

.actions{
    margin: 0 auto; 
    width: 90%;
}

.kanta3{
    margin: 0 auto; 
    width: 90%;
}